body{
	background-color:#aaaaaa;
	text-align: center;
	font-size: 18px;
	touch-action: manipulation;/*supprime double touche pour zoomer*/
}

h1{
	font-size: 20px; 
	color: #505050;
	padding: 0px;
	margin: 0px;
}

a{
  color: #eeeeee;
}

.cadre {
 width:600px;
 text-align: center;
 background-color: #aaaaaa;
 justify-content: center;/*centrage dans la boite*/
 display: grid;
 margin: 0 auto; /* centrage de la boite */ 
 grid-template-columns: repeat(10,50px);
 grid-gap: 5px;
 grid-auto-rows: minmax(50px, auto);/* hauteur des lignes*/
 border: 2px solid #ffffff;
 border-radius: 10px; 
}

/*zone des affichages*/
.a{
  /* caracteristiques communes aux affichages*/
  background-color: rgb(255,255,240);
  padding-right: 10px;
  text-align: right;
  
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
}
.a1{
  /* caracteristiques affichage statique*/
  background-color: transparent;
  padding-right: 10px;
  text-align: right;
}

#aresults {
  grid-column: 1/11;
  grid-row: 2/10;
  /*width: 550px;
  height: 500px;*/
  line-height: 12px;
  white-space: pre-line; /* /n retour a la ligne */
  text-align: center; /*remplace valeur de la class*/
  padding: 10;
  margin-top:5px;
  background-color: rgb(255,255,255);/*remplace valeur de la class*/
  font-size: 12px;
  font-family: "Courier New", Courier, monospace; // pour alignement caracteres  
  overflow: scroll;
}

#ainput {
  grid-column: 6/11;
  grid-row: 1;
  background-color: rgb(255,255,255);/*remplace valeur de la class*/
  vertical-align:middle;
  line-height: 50px; /* pour que vertical-align fonctionne */
}
#ainfo {
  grid-column: 1/6;
  grid-row: 1;
  text-align: center; /*remplace valeur de la class*/
  background-color: rgb(255,255,255);/*remplace valeur de la class*/
  font-size: 16px;/*remplace valeur de la class*/
  vertical-align:middle;
  line-height: 50px; /* pour que vertical-align fonctionne */
}


/*zone des bouttons*/
button{
  /* concerne tous les boutons*/
  font-size: 12px;  /* min 16 pour eviter zoom auto sur IPhone*/
  font-weight: bold;
  justify-content: center;
  height: 50px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 0px;
}
.bgris{
  /*concerne les boutons gris*/
  background: linear-gradient(to bottom,#999999, #666666);
  color: white;
}
.bbleu{
  /*concerne les boutons bleus*/
  background: linear-gradient(to bottom,#e6f0ff, #4d94ff);
  color: black;
}
.bblanc{
  /*concerne les boutons blancs*/
  background: linear-gradient(to bottom,#ffffff, #999999);
  color: black;
}





#b8{grid-column: 2;grid-row: 10;}

#bc{grid-column: 4;grid-row: 10;color: rgb(255,100,100); /*remplace la class*/}
#bcstk{grid-column: 5;grid-row: 10;color: rgb(255,200,200); /*remplace la valeur class*/}
#bswap{grid-column: 6;grid-row: 10}
#bplus{grid-column: 9/11;grid-row: 10;}

#b4{grid-column: 1;grid-row: 11;}
#b5{grid-column: 2;grid-row: 11;}
#b6{grid-column: 3;grid-row: 11;}
#bac{grid-column: 4;grid-row: 11;color: rgb(255,100,100); /*remplace la valeur class*/}
#bdup{grid-column: 6;grid-row: 11;}
#bsto{grid-column: 5;grid-row: 11;}
#bminu{grid-column: 9/11;grid-row: 11;}


#b2{grid-column: 2;grid-row: 12;}

#bmoins{grid-column: 4;grid-row: 12;)}
#bdrop{grid-column: 6;grid-row: 12;}
#brcl{grid-column: 5;grid-row: 12;}
#bmul{grid-column: 9/11;grid-row: 12;}

#b0{grid-column: 1;grid-row: 13;}
#bpoint{grid-column: 2;grid-row: 13;}
#be{grid-column: 3;grid-row: 13;}
#benter{grid-column: 4/6;grid-row: 13;}
#bpi{grid-column: 6;grid-row: 13;}
#bdiv{grid-column: 9/11;grid-row: 13;}
